
  <p-table [value]="pizzas">
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-pizza>
      <tr>
        <td class="p-text-nowrap p-text-truncate" style="width: 20rem">{{pizza.pizzaID}}</td>
        <td class="p-text-nowrap p-text-truncate" style="width: 5rem">{{pizza.name}}</td>
        <td class="p-text-nowrap p-text-truncate" style="width: 5rem">{{pizza.description}}</td>
        <td class="p-text-nowrap p-text-truncate" style="width: 5rem">{{pizza.price}}</td>
      </tr>
    </ng-template>
  </p-table>
