<div class="p-p-5">
  <p-card>
    <h3 class="table-heading">Pizza list</h3>
    <p-table [value]="pizzas" [scrollable]="true" scrollHeight="400px" [globalFilterFields]="['pizzaID','name','description','price']" #dt1>
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <button pButton label="New pizza" [routerLink]="['/pizza']" class="p-button-outlined" icon="pi pi-plus"></button>
          <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt1.filterGlobal($event.target, 'contains')" placeholder="Search keyword" />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 10rem">Id</th>
          <th style="width: 5rem">Name</th>
          <th style="width: 5rem">Description</th>
          <th style="width: 5rem">Price</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-pizza>
        <tr>
          <td class="p-text-nowrap p-text-truncate" style="width: 10rem">{{pizza.pizzaID}}</td>
          <td class="p-text-nowrap p-text-truncate" style="width: 5rem">{{pizza.name}}</td>
          <td class="p-text-nowrap p-text-truncate" style="width: 5rem">{{pizza.description}}</td>
          <td class="p-text-nowrap p-text-truncate" style="width: 5rem">{{pizza.price}}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
