<p-messages [closable]="false"></p-messages>
<form [formGroup]="orderForm">
  <div class="p-grid p-jc-start">
    <div class="p-col-7">
      <div class="box">
        <app-pizza-picker [pizzaPickerForm]="orderForm">
        </app-pizza-picker>
      </div>
    </div>
  </div>

  <div class="pp-grid p-jc-start">
    <div class="p-col-7">
      <div class="box">
  
          <app-customer-form [customerForm]="orderForm"></app-customer-form>
      
      </div>
    </div>
  </div>
</form>

<button (click)="createOrder()">Order</button>
