 <form [formGroup]="customerForm">
   <div class="p-fluid"  formGroupName="customer">
     <div class="p-field">
       <span class="p-float-label">
         <input [formControlName]="'firstName'" type="text"  [ngClass]="{ 'ng-invalid ng-dirty': submitted && customerForm.get('customer.firstName')?.errors }"   pInputText>
         <label for="float-input">Firstname</label>
       </span>
     </div>
     <div class="p-field">
       <span class="p-float-label">
         <input [formControlName]="'lastName'" type="text" [ngClass]="{ 'ng-invalid ng-dirty': submitted && customerForm.get('customer.lastName')?.errors }"  pInputText>
         <label for="float-input">Lastname</label>
       </span>
     </div>
     <div class="p-field">
       <span class="p-float-label">
         <p-inputNumber [formControlName]="'phoneNumber'" mode="decimal"  [ngClass]="{ 'ng-invalid ng-dirty': submitted && customerForm.get('customer.phoneNumber')?.errors }"   [useGrouping]="false"></p-inputNumber>
         <label for="float-input">Phone Number</label>
       </span>
     </div>
     <div class="p-field">
       <span class="p-float-label">
         <input [formControlName]="'streetName'"  [ngClass]="{ 'ng-invalid ng-dirty': submitted && customerForm.get('customer.streetName')?.errors }"  type="text" pInputText>
         <label for="float-input">Street Name</label>
       </span>
     </div>
   </div>
</form>
