
<p-messages [closable]="false"></p-messages>
<form [formGroup]="pizzaForm" (ngSubmit)="submitForm()">
  <div class="p-fluid">
    <h3 class="table-heading">New pizza</h3>
    <div class="p-field">
      <span class="p-float-label">
        <input class="p-inputtext-sm" [formControlName]="'name'" type="text" [ngClass]="{ 'ng-invalid ng-dirty': submitted && f.name.errors }" pInputText>
        <label for="float-input">Name</label>
      </span>
    </div>
    <div class="p-field">
      <span class="p-float-label">
        <input class="p-inputtext-sm" [formControlName]="'description'" type="text" pInputText>
        <label for="float-input">Description</label>
      </span>
    </div>
    <div class="p-field">
      <span class="p-float-label">
        <p-inputNumber class="p-inputtext-sm" [formControlName]="'price'" [ngClass]="{ 'ng-invalid ng-dirty': submitted && f.price.errors }"></p-inputNumber>
        <label for="float-input">Price</label>
      </span>
    </div>
  </div>

  <div class="pizza-action-btns-wrapper">
    <button pButton pRipple type="submit" styleClass="main-pizza-button" label="Add" class="p-button-outlined"></button>
  </div>
</form>

