<div class="p-p-5">
  <p-card>
    <h3 class="table-heading">Order list</h3>
      <p-table [value]="orders" [scrollable]="true" scrollHeight="400px" #dt1>
        <ng-template pTemplate="caption">
          <div class="p-d-flex">
            <button pButton label="New order" [routerLink]="['/order']" class="p-button-outlined" icon="pi pi-plus"></button>
            <span class="p-input-icon-left p-ml-auto">
              <i class="pi pi-search"></i>
              <input pInputText type="text" placeholder="Search keyword" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Order Number</th>
            <th>Order Status</th>
            <th>Date</th>
            <th>Pizza Name</th>
            <th>Pizza ID</th>
            <th>Cusomer ID</th>
            <th>Cusomer Name</th>
            <th>Cusomer Surname</th>
            <th>Phone Number</th>
            <th>Street Name</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order>
          <tr>
            <td class="p-text-nowrap p-text-truncate" style="width: 10rem"><a [routerLink]="['/order-display', order.orderNumber]">{{order?.orderNumber}}</a></td>
            <td class="p-text-nowrap p-text-truncate" style="width: 10rem">{{order?.orderStatus | status}}</td>
            <td class="p-text-nowrap p-text-truncate" style="width: 10rem">{{order.date |  date:'short'}}</td>
            <td class="p-text-nowrap p-text-truncate" style="width: 10rem">{{order?.pizza?.name}}</td>
            <td class="p-text-nowrap p-text-truncate" style="width: 10rem">{{order?.pizza?.pizzaID}}</td>
            <td class="p-text-nowrap p-text-truncate" style="width: 10rem">{{order.customer.custID}}</td>
            <td class="p-text-nowrap p-text-truncate" style="width: 10rem">{{order.customer.firstName}}</td>
            <td class="p-text-nowrap p-text-truncate" style="width: 10rem">{{order.customer.lastName}}</td>
            <td class="p-text-nowrap p-text-truncate" style="width: 10rem">{{order.customer.phoneNumber}}</td>
            <td class="p-text-nowrap p-text-truncate" style="width: 10rem">{{order.customer.streetName}}</td>
          </tr>
        </ng-template>
      </p-table>
  </p-card>
</div>
