  <p-table [value]="customers">
    <ng-template pTemplate="header">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Address</th>
        <th>Phone Number</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customer>
      <tr>
        <td class="p-text-nowrap p-text-truncate" style="width: 10rem">{{customer.custID}}</td>
        <td class="p-text-nowrap p-text-truncate" style="width: 10rem">{{customer.firstName}}</td>
        <td class="p-text-nowrap p-text-truncate" style="width: 10rem">{{customer.lastName}}</td>
        <td class="p-text-nowrap p-text-truncate" style="width: 10rem">{{customer.streetName}}</td>
        <td class="p-text-nowrap p-text-truncate" style="width: 10rem">{{customer.phoneNumber}}</td>
      </tr>
    </ng-template>
  </p-table>
