<div class="p-p-5">
  <p-card>
    <h3 class="table-heading">Customer list</h3>
      <p-table [value]="customers" [scrollable]="true" scrollHeight="400px" #dt1>
        <ng-template pTemplate="caption">
          <div class="p-d-flex">
            <button pButton label="New customer" class="p-button-outlined" icon="pi pi-plus"></button>
            <span class="p-input-icon-left p-ml-auto">
              <i class="pi pi-search"></i>
              <input pInputText type="text" placeholder="Search keyword" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Address</th>
            <th>Phone Number</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
          <tr>
            <td class="p-text-nowrap p-text-truncate" style="width: 10rem">{{customer.custID}}</td>
            <td class="p-text-nowrap p-text-truncate" style="width: 10rem">{{customer.firstName}}</td>
            <td class="p-text-nowrap p-text-truncate" style="width: 10rem">{{customer.lastName}}</td>
            <td class="p-text-nowrap p-text-truncate" style="width: 10rem">{{customer.streetName}}</td>
            <td class="p-text-nowrap p-text-truncate" style="width: 10rem">{{customer.phoneNumber}}</td>
          </tr>
        </ng-template>
      </p-table>
</p-card>
</div>
