
<form [formGroup]="pizzaPickerForm">


  <div class="p-fluid">
    <div class="p-field p-grid">
      <label for="firstname" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Choose pizza</label>
      <div class="p-col-12 p-md-10">
        <p-dropdown (onChange)="onDropChange($event)" [formControlName]="'pizza'" [options]="pizzasOptions" [(ngModel)]="selectedPizza" optionLabel="name"></p-dropdown>
      </div>
    </div>

    <div *ngIf="pizzaType" class="p-fluid">
      <p-card>
        <div class="p-grid p-jc-center">
          <div class="p-col-6 desc-wrapper">
            <div class="p-field p-grid">
              <label for="firstname3" class="p-col-fixed" style="width:100px">Name:</label>
              <div class="p-col">
                <div>{{pizzaType.name}}</div>
              </div>
            </div>
            <div class="p-field p-grid">
              <label for="firstname3" class="p-col-fixed" style="width:100px">Desciption:</label>
              <div class="p-col">
                <div>{{pizzaType.description}}</div>
              </div>
            </div>
            <div class="p-field p-grid">
              <label for="firstname3" class="p-col-fixed" style="width:100px">Price:</label>
              <div class="p-col">
                <div>{{pizzaType.price}}</div>
              </div>
            </div>
          </div>
          </div>
      </p-card>
    </div>




    <!--<div class="p-fluid">
      <p-card>
        <ng-container *ngIf="pizzaType">
          <div class="p-grid p-jc-center">
            <div>Name: {{pizzaType.name}}</div>
            <div>Descrption: {{pizzaType.description}}</div>
            <div>Price: {{pizzaType.price}}</div>
          </div>
        </ng-container>

      </p-card>

    </div>-->


  </div>




  <!--<h4>Choose pizza</h4>
  <p-dropdown (onChange)="onDropChange($event)" [formControlName]="'pizza'" [options]="pizzasOptions" [(ngModel)]="selectedPizza" optionLabel="name"></p-dropdown>
  <div class="pizza-desc-wrapper">
    <ng-container *ngIf="pizzaType">
      <div>Name: {{pizzaType.name}}</div>
      <div>Descrption: {{pizzaType.description}}</div>
      <div>Price: {{pizzaType.price}}</div>
    </ng-container>
  </div>-->
</form>

